<%= form_for [@poll, @question] do |f| %>
  <%= render 'shared/errors', object: @question %>

  <div class="form-group">
    <%= f.label :question %>
    <%= f.text_area :question, class: 'form-control' %>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Answers</div>
    <div class="panel-body">
      <%= f.fields_for :answers do |answers_form| %>
        <%= render 'answer_fields', f: answers_form %>
      <% end %>

      <div class="links">
        <%= link_to_add_association 'Add Answer', f, :answers, partial: "answer_fields" %>
      </div>
    </div>
  </div>

  <%= f.submit 'Create', class: 'btn btn-primary' %>
<% end %>
