<div class="page-header">
  <h1>Poll Name: <%= @poll.topic %></h1>
</div>

<%= link_to "Add New Question", new_poll_question_path %>
<hr>
<div class="row">

<div class= "col-md-6">
<% @questions.each do |question| %>

      <h4><%= question.question %></h4>
    <% question.answers.each do |answer| %>
      <%= answer.answer %>
    <% end %>
</div>
<div class = "col-md-6">
  <div class = "well">
    <%= link_to 'Edit', edit_poll_question_path(@poll, question), class: 'btn btn-default' %>
    <%= link_to 'Delete', poll_question_path(@poll, question),
                method: :delete,
                class: 'btn btn-danger' %>
  </div>
    <% end %>
</div>
</div>
